<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BlazorSampleApp</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        @*
        Adding a nav link for our new page. The NavLink component will
        render an anchor tag and correctly apply an .active class to
        the link if it is currently being displayed.
        *@
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="samples/random-number">
                Max Random Number
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="samples/calculator">
                Basic Calculator
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/samples/lotto-quick-pick">
               Lotto Picker
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/samples/service">
                Service Form
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>
    </nav>
</div>

